.main-header-container {
    width: 100vw;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background: #fff;
    z-index: 20;
    /* position: sticky; */
    top: 0;
}

.main-header-logo {
    width: 112px;
    height: 15.8px;
}

.main-header-logo:hover {
    cursor: pointer;
}

.nav-burger-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 14px;
}

.nav-burger-container:hover {
    cursor: pointer;
}

.nav-burger-menu {
    height: 2px;
    width: 22px;
    background: #dce0de;
}